.brVideo {
    width: 100%;
    height: 350px;
    position: relative;
    /* margin: 5px; */
}

.brVideo>video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.giveAway {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, .4);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    z-index: 5;
}