html,
body {
  padding: 0 !important;
  margin: 0 !important;
  overflow-x: hidden;
}

li {
  list-style: none;
}

p {
  padding: 0px !important;
  margin: 0px !important;
}

.fz-12 {
  font-size: 12px !important;
}

.global_black_button {
  background-color: black;
  color: white;
  padding: 10px 18px;
  border: none;
  text-transform: uppercase;
}

.text-decoration-underline {
  text-decoration: underline !important;
}

.global_black_button:hover {
  background-color: rgb(31, 31, 31);
  transform: translateY(-1px);
  transition: all 0.5s ease-in-out;
}

.global_black_button_outline {
  background-color: white;
  color: black;
  padding: 10px 18px;
  border: none;
  text-transform: uppercase;
}

.global_black_button_outline:hover {
  background-color: rgb(31, 31, 31);
  transform: translateY(-1px);
  transition: all 0.5s ease-in-out;
  color: white;
}

.global_global_outline_button {
  border: 1px solid black !important;
  padding: 5px 15px !important;
  background-color: white !important;
}

.global_global_outline_button:hover {
  background-color: black;
  color: white;
}

.bodyWrapper {
  min-height: 100vh;
}

.paddingTop {
  padding-top: 10rem;
}

@media (max-width: 800px) {
  .paddingTop {
    padding-top: 8rem;
  }
}

@media (max-width: 500px) {
  .paddingTop {
    padding-top: 5rem;
  }
}

@media only screen and (max-width: 768px) {
  .largeDeviceTable {
    display: none;
  }
}

.cursor-pointer {
  cursor: pointer !important;
}

input::placeholder {
  text-transform: capitalize !important;
}

.text_black {
  color: black !important;
}

.color-black {
  color: black !important;
}

.bg-grey {
  background-color: #f8f9fa;
}

.news_letter_wrapper {
  background-image: linear-gradient(to bottom, rgba(21, 21, 21, 0.328), rgba(5, 5, 5, 0.275)), url("https://res.cloudinary.com/dyof6o0ul/image/upload/v1680604690/Brocade/Newsletter/blog-1_lqfnml.jpg");
  background-repeat: no-repeat;
  width: 100vw !important;
  height: 40vh !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
}

.z_999 {
  z-index: 999;
}

.no_selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.h100vh {
  height: 100vh !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: calc(0.5rem + 0.5vw) !important;
  color: black !important;
}

.color_white {
  color: whitesmoke;
}

body::-webkit-scrollbar {
  width: 9px;
}
body::-webkit-scrollbar-track {
  background: rgb(186, 183, 183);
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.727);
  border-radius: 50px;
}

.hover_underline:hover {
  text-decoration: underline;
}

.form-control:focus {
  border-color: black !important;
  box-shadow: none !important;
}

.nav.nav-pills button.active {
  border-radius: 0px;
  background: #000;
  color: white !important;
}
