

.img {
    position: relative;
}

.imgWrapper {
    height: 400px;
    width: 100%;
    /* margin-bottom: 2rem; */
}

.imgWrapper2 {
    height: 700px;
    width: 100%;
}

.img .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;background-color: rgba(255, 255, 255, .4);
    opacity: 0;
    transition: ease .8s;
}

.img .txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-weight: 900 !important;
    opacity: 0;
    transition: ease .8s;
}

.txt>h4 {
    /* font-size: 30px; */
    color: black;
}

.img:hover .overlay,
.img:hover .txt {
    opacity: 1;
}