.logo {
    width: 80px;
    position: fixed !important;
}

.navBar {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 30px 0;
    /* position: relative; */
    /* background-color: red; */
}

.ham {
    z-index: 1;
}

.navElement {
    z-index: 10;
    max-width: 1024px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navItems {
    position: absolute;
    right: 0;
    top: 0;
    padding: 70px 100px;
    background-color: white;
    box-shadow: -3px -1px 36px -11px rgba(27,10,82,0.75);
    -webkit-box-shadow: -3px -1px 36px -11px rgba(27,10,82,0.75);
    -moz-box-shadow: -3px -1px 36px -11px rgba(27,10,82,0.75);
    height: 100vh;
    width: 350px;
    transition: ease-in-out 10ms;
    text-align: right;
}

.navContent {
    position: fixed;
    right: -100%;
}

.pageLinks>h3 {
    margin: 85px 0 20px !important;
    font-weight: 700;
}

.pageLinks {
    margin-top: 50px;
}

.ul>ul {
    list-style: none;
    font-size: 18px;
    padding-left: 0 !important;
}

.list {
    padding-bottom: 10px;
    cursor: pointer;
    transition: ease-in-out;
}

.pageLinks>ul>li:hover {
    color: rgb(124, 69, 6);
}