.myImg {
    transition: 0.8s ease;
}

.myImg:hover {
    scale: 1.01;
}

.hoverButton{
    display:none;
    border:none;
    border: 2px solid transparent;
}
.hoverEffect:hover  .hoverButton {

    display: block;
}

.hoverButton:focus {
    border: 2px solid black;
    
  }