.loki {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
}

.loki1 {
  list-style: none;
}

.loki2 {
  display: inline;
  margin: 0 1rem;
  color: #000;
}
